# Dependency directories
node_modules/

# Expo directories and files
.expo/
npm-debug.log
yarn-error.log
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig

# Metro bundler cache
.metro-cache/

# Keystores
*.keystore

# Local environment variables
.env
.env.local

# Build directories
/android/build/
/ios/build/
/web-build/

# IDE config files
.vscode/
.idea/

# macOS specific files
.DS_Store

# Temporary files
*.log